input[type="button"] {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
}

.table_wrapper {
    text-align: center;
}

#dataTable {
    display: inline-block;
}

#dataTable tr {
    border: 1px solid black;
}

#dataTable td, th {
    border: 1px solid black;
    padding: 7px;
    text-align: center;
}

tr th {
    font-size: 1.1rem;
    font-weight: 700;
    color: #eae5e5;
}

tr td {
    font-size: 1rem;
    font-weight: 500;
    color: #bcbcc6;
}

tr th button {
    border: none;
    outline: none;
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 25px;
    height: 25px;
    font-weight: 500;
}

button > img {
    width: 15px;
    height: 20px;
}
button:focus {
    background-color: rgb(245, 120, 54);
    border: 1px solid #886705;
}

