{% extends 'base.html' %}

{% block head %}

{{ super() }}

<link rel="stylesheet" href="static/css/change_password.css">

{% endblock %}

{% block body %}

{{ super() }}
<form method="POST">
    <label for="username">Пользователь</label>
    <input type="text" name="username" required>
    {% if not same_username %}
    <small>Вы можете изменить только свой пароль</small>
    {% endif %}
    <label for="old_password">Текущий пароль</label>
    <input type="password" name="old_password" required>
    {% if not old_pass_match %}
    <small>Неверный текущий пароль</small>
    {% endif %}
    <label for="new_password">Новый пароль</label>
    <input type="password" name="new_password" required>
    <label for="confirm_new_password">Подтвердить новый пароль</label>
    <input type="password" name="confirm_new_password" required>
    {% if not new_pass_same %}
    <small>Новый пароль и подтверждения пароля не совпадают</small>
    {% endif %}
    <input type="submit" value="Обновить">
</form>

{% endblock %}