<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fido Entrance Greet</title>
    <link rel="stylesheet" href="/static/css/happybirthday.css">
</head>

<body>
<img src="/static/img/happybirthday.jpg" width="850px" height="554px"></img>
<audio id="song" preload="auto">
    <source src="static/audio/happy_birthday.mp3" type="audio/mpeg">
</audio>
<script src="/static/js/happybirthday.js"></script>
</body>
</html>