{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body %}

{{ super() }}

<div class="center">
    {% if role_id != 4 %}
    {% if role_id < 3: %}
    <a href="{{url_for('view.add_employee')}}">Добавить нового сотрудника</a>
    <a href="{{ url_for('view.all_employees') }}">Сотрудники</a>
    <a href="{{ url_for('view.logs') }}">Логи</a>
    <a href="{{url_for('view.change_password')}}">Изменить свой пароль</a>
    <a href="{{url_for('view.all_users')}}">Пользователи</a>
    <a href="{{url_for('view.all_departments')}}">Департаменты</a>
    <a href="{{url_for('view.all_jobs')}}">Должности</a>

    {% else %}
    <a href="{{url_for('view.change_password')}}">Изменить свой пароль</a>
    <a href="{{ url_for('view.all_employees') }}">Сотрудники</a>
    {% if job_id ==2 %}
    <a href="{{ url_for('view.logs') }}">Логи</a>
    {% endif %}
    {% endif %}
    {% endif %}

    {% if (role_id == 1 or role_id == 4) or (job_id == 2 and role_id == 3) %}
    <a href="{{url_for('view.entrance')}}">Вход в здание</a>
    {% endif %}
</div>


<script src="/static/js/base.js"></script>
{% endblock %}