{% extends 'base.html' %}

{% block head %}

{{ super() }}

<link rel="stylesheet" type="text/css" href="static/css/remove_user.css">

{% endblock %}

{% block body %}

{{ super() }}
<form method="POST">
    <label for="user_id">Пользователь</label>
    <select name="user_id" id="user_id" required>
        <option hidden value="" selected disabled>--Выбрать--</option>
        {% for i in range(users|length)%}
        <option value="{{users[i][0]}}">{{users[i][1]}}</option>
        {%endfor%}
    </select>
    <input type="submit" value="Удалить">
</form>
<script>
    const submit = document.querySelector('input[type="submit"]')
    submit.addEventListener("click", ev => {
    if (!confirm("Данный пользователь будет удален из системы. Продолжить?")) {
            ev.preventDefault();
        }
    });
</script>
{% endblock %}